.CFUserTextEncoding
.DS_Store
.IntelliJIdea14/
.R/
.Rhistory
.Xauthority
.atom/
.aws/
.bash_eternal_history
.bash_history
.bash_profile_private
.bashrc_private
.byobu/
.cache/
.codeintel/
.config/
.cups/
.current_agent.sh
.currentairflowignore
.dropbox/
.eclipse/
.flexlmrc
.floorc.json
.gem/
.gemrc
.gitconfig
.gitignore_global
.gnupg/
.grip/
.ipython/
.irb-history
.jupyter/
.lesshst
.local/
.m2/
.matplotlib/
.mkshrc
.mysql_history
.npm/
.oh-my-zsh/
.old_boto
.oracle_jre_usage/
.p2/
.perso/
.pip/
.pry_history
.python_history
.python-eggs/
.rnd
.rstudio-desktop/
.rvm/
.s3cfg
.sqlite_history
.sqlworkbench/
.ssh/
.subversion/
.vagrant.d/
.vim/*
.viminfo*
.virtualenvs/*
.z
Applications/*
Box*
Calibre*
Code/*
Desktop/*
Documents/*
Downloads/*
Dropbox/*
Google Drive/*
GoogleDriveShared/*
Library/*
Movies/*
Music/*
Pictures/*
Public/*
VirtualBox*
Virtualenvs/
airlab/*
airflow/*
*s3cmd.conf
bin/
bkp*
*.py
*.log
kmpanlhcadenhinhhdnljbdnkemeaeei*
proxy.pac
s3*
svg*
test*
tmp*
wfm*
zendesk*
